<form class="m-2" novalidate [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && formGroup.valid">
    There are errors in the form. Please correct them before submitting.
    <ul>
      <li *ngFor="let error of formGroup.getAddFormValidationMessages()">
        {{ error }}
      </li>
    </ul>
  </div>

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" formControlName="name">
    <ul class="text-danger list-unstyled"
        *ngIf="(formSubmitted || formGroup.controls['name'].dirty) && formGroup.controls['name'].invalid">
      <li *ngFor="let error of formGroup.getValidationMessages('name')">
        {{ error }}
      </li>
    </ul>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email" formControlName="email">
    <ul class="text-danger list-unstyled"
        *ngIf="(formSubmitted || formGroup.controls['email'].dirty) && formGroup.controls['email'].invalid">
      <li *ngFor="let error of formGroup.getValidationMessages('email')">
        {{ error }}
      </li>
    </ul>
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" name="phone" formControlName="phone">
    <ul class="text-danger list-unstyled"
        *ngIf="(formSubmitted || formGroup.controls['phone'].dirty) && formGroup.controls['phone'].invalid">
      <li *ngFor="let error of formGroup.getValidationMessages('phone')">
        {{ error }}
      </li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary"
          [disabled]="formSubmitted && formGroup.invalid"
          [class.btn-secondary]="formSubmitted && formGroup.invalid"
  >Submit
  </button>
</form>
